{% extends 'base.html' %}

{% block content %}
<body>


  <!-- section -->
  <section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-10" style="background-image: url(https://about.att.com/ecms/dam/snr/2020/November2020/StoryLevelBanner/11042020_iPhoneProMax_STORY_LEVEL_BANNER_1600x483.jpg);">
    <div class="container pb-5">
      <div class="row justify-content-left pb-5">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-left">
          <h5 class="text-light fw-light">Shop New Phone Here</h5>
          <div class="h1 text-light mb-3 pb-4">iPhone 14 Pro Max and iPhone 14 mini Available 
          </div><a class="btn btn-info" href="#cuisine" data-scroll="">Shop Here</a>
        </div>
      </div>
    </div>
  </section>
    <!-- section category -->
   <section class="my-lg-14 my-8">
   </section>
    <!-- section -->
   <section class="mb-lg-14 mb-8">
     <div class="container ">
        <!-- row -->
       <div class="row">
         <div class="col-12">
           <div class="mb-6 d-xl-flex justify-content-between align-items-center">
              <!-- heading -->
             <div class="mb-5 mb-xl-0">
               <h3 class=" mb-0">New Products</h3>
               <p class="mb-0">New products with updated stocks</p>
             </div>
             <div> 
             </div>
           </div>
         </div>
       </div>
        <!-- row -->
       <div class="row">
         <div class="col-12">
            <!-- tab -->
           <div class="tab-content" id="nav-tabContent">
             <div class="tab-pane fade active show" id="nav-fruitsandveg" role="tabpanel" aria-labelledby="nav-fruitsandveg-tab" tabindex="0">
  <!-- row -->
               <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">




  <!-- badge -->
                       <div class="text-center position-relative ">
                         <!-- img -->
                         <a href="{{url_for('product')}}"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="{{url_for('product')}}" class="text-inherit text-decoration-none">Haldiram's Sev
                           Bhujia</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(149)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$18</span> <span class="text-decoration-line-through text-muted">$24</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="{{url_for('product')}}" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">



                      
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="{{url_for('product')}}"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="{{url_for('product')}}" class="text-inherit text-decoration-none">Britannia NutriChoice
                           Digestive Biscuits</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.4(3,149)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-dark">$15</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="{{url_for('product')}}" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Cadbury 5 star
                           chocolate</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.7(1,130)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-dark">$32</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="{{url_for('product')}}"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                       

                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="{{url_for('product')}}" class="text-inherit text-decoration-none">Onion Flavour Potato</a>
                       </h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(140)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$12</span><span class="text-muted text-decoration-line-through ms-1">$18</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="{{url_for('product')}}" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
    
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Salted Instant
                           Popcorn</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(212)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$40</span> <span class="text-decoration-line-through text-muted">$65</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
        
 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Epigamia Blueberry Greek
                           Yogurt,
                           90g</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.4(694)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-dark">$17</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>

 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Kellogg's Special K
                           Original
                           Cereal</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.7(1,130)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$25</span><span class="text-muted text-decoration-line-through ms-1">$28</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->



                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
 
 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Slurrp Farm No Maida
                           Millet
                           Pancake Mix</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(212)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$34</span><span class="text-muted text-decoration-line-through ms-1">$38</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">  



  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                         <!-- action btn -->

 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Britannia NutriChoice
                           Digestive Biscuits</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.4(3,149)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-dark">$15</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  <!-- badge -->
                       <div class="text-center position-relative ">
 
                         <!-- img -->
                         <a href="#!"> <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-14-pro-max-colors.png" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
 
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Cadbury 5 star
                           chocolate</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.7(1,130)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-dark">$32</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
 
 
 
               </div>
 
 
             </div>
             <div class="tab-pane fade" id="nav-snackMunchies" role="tabpanel" aria-labelledby="nav-snackMunchies-tab" tabindex="0">
 
               <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
 
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">
  
                       </div>
                       <!-- title -->
                       <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Slurrp Farm No Maida
                           Millet
                           Pancake Mix</a></h2>
                       <div>
  <!-- rating -->
                         <small class="text-warning"> <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(212)</span>
                       </div>
                        <!-- price -->
                       <div class="d-flex justify-content-between align-items-center mt-3">
                         <div><span class="text-danger">$34</span><span class="text-muted text-decoration-line-through ms-1">$38</span>
                         </div>
                         <div><span class="text-uppercase small text-primary">
                             In Stock</span></div>
                       </div>
                        <!-- btn -->
                       <div class="product-fade-block">
                         <div class="d-grid mt-4">
                           <a href="#" class="btn btn-info rounded-pill">Bid now</a>
                         </div>
                       </div>
 
                     </div>
                     <!-- hidden class for hover -->
                     <div class="product-content-fade border-info" style="margin-bottom: -60px;"></div>
                   </div>
                 </div>
 
 
               </div>
             </div>
 
           </div>
         </div>
       </div>
 
   </section>

   <!-- Javascript-->
   <!-- Libs JS 
 <script src="/static/js/a/jquery.min.js"></script>
 <script src="/static/js/a/bootstrap.bundle.min.js"></script>
 <script src="/static/js/a/jquery.countdown.min.js"></script>
 <script src="/static/js/a/slick.min.js"></script>
 <script src="/static/js/a/simplebar.min.js"></script>
 <script src="/static/js/a/nouislider.min.js"></script>
 <script src="/static/js/a/wNumb.min.js"></script>
 <script src="/static/js/a/index.js"></script>
 <script src="/static/js/a/prism.js"></script>
 <script src="/static/js/a/prism-scss.min.js"></script>
 <script src="/static/js/a/prism-toolbar.min.js"></script>
 <script src="/static/js/a/prism-copy-to-clipboard.min.js"></script>
 <script src="/static/js/a/flatpickr.min.js"></script>
 <script src="/static/js/a/jquery.inputmask.min.js"></script>-->
 <!-- Theme JS
 <script src="/static/js/a/theme.min.js"></script>-->
 
 </body>
    
{% endblock %}