{% extends 'base.html' %}

{% block content %}
<body>


  <!-- section -->
  <section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-10" style="background-image: url(https://about.att.com/ecms/dam/snr/2020/November2020/StoryLevelBanner/11042020_iPhoneProMax_STORY_LEVEL_BANNER_1600x483.jpg);">
    <div class="container pb-5">
      <div class="row justify-content-left pb-5">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-left">
          <h5 class="text-light fw-light">Shop New Phone Here</h5>
          <div class="h1 text-light mb-3 pb-4">iPhone 14 Pro Max and iPhone 14 mini Available 
          </div><a class="btn btn-info" href="#cuisine" data-scroll="">Shop Here</a>
        </div>
      </div>
    </div>
  </section>
    <!-- section category -->
   <section class="my-lg-14 my-8">
   </section>
    <!-- section -->
   <section class="mb-lg-14 mb-8">
     <div class="container ">
        <!-- row -->
       <div class="row">
         <div class="col-12">
           <div class="mb-6 d-xl-flex justify-content-between align-items-center">
              <!-- heading -->
             <div class="mb-5 mb-xl-0">
               <h3 class=" mb-0">New Products</h3>
               <p class="mb-0">New products with updated stocks</p>
             </div>
             <div> 
             </div>
           </div>
         </div>
       </div>
        <!-- row -->
       <div class="row">
         <div class="col-12">
            <!-- tab -->
           <div class="tab-content" id="nav-tabContent">
             <div class="tab-pane fade active show" id="nav-fruitsandveg" role="tabpanel" aria-labelledby="nav-fruitsandveg-tab" tabindex="0">
  <!-- row -->
               <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                 <div class="col ">
                 <!-- card -->
                   <div class="card  card-product-v2 h-100">
                     <div class="card-body position-relative">



{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

{% include 'item.html' %}

               </div>
             </div>
 
           </div>
         </div>
       </div>
 
   </section>

   <!-- Javascript-->
   <!-- Libs JS 
 <script src="/static/js/a/jquery.min.js"></script>
 <script src="/static/js/a/bootstrap.bundle.min.js"></script>
 <script src="/static/js/a/jquery.countdown.min.js"></script>
 <script src="/static/js/a/slick.min.js"></script>
 <script src="/static/js/a/simplebar.min.js"></script>
 <script src="/static/js/a/nouislider.min.js"></script>
 <script src="/static/js/a/wNumb.min.js"></script>
 <script src="/static/js/a/index.js"></script>
 <script src="/static/js/a/prism.js"></script>
 <script src="/static/js/a/prism-scss.min.js"></script>
 <script src="/static/js/a/prism-toolbar.min.js"></script>
 <script src="/static/js/a/prism-copy-to-clipboard.min.js"></script>
 <script src="/static/js/a/flatpickr.min.js"></script>
 <script src="/static/js/a/jquery.inputmask.min.js"></script>-->
 <!-- Theme JS
 <script src="/static/js/a/theme.min.js"></script>-->
 
 </body>
    
{% endblock %}