    <!-- navigation -->
    <nav class="navbar py-lg-4 py-3 px-0 border-bottom navbar-menu">  
      <div class="container-fluid">
        <div class="row w-100 align-items-center g-0 g-lg-3">
          <div class="col-xxl-10 col-lg-8">
            <div class="d-flex align-items-center">
              <a class="navbar-brand d-none d-lg-block ms-4" href="../index.html">
                <img src="../assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">
    
              </a>
              <div class="d-flex  w-100 ms-4 ">
                <form action="#" class="w-100 d-none d-lg-block">
                  <div class="input-group ">
                    <input class="form-control rounded-3" type="search" value="Search for products" id="searchInput">
                    <span class="input-group-append">
                        <button class="btn bg-white border border-start-0 ms-n10" type="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                          <circle cx="11" cy="11" r="8"></circle>
                          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        </button>
                    </span>
                </div>
    
                </form>
              </div>
            </div>
            <div class="d-flex justify-content-between w-100 d-lg-none align-items-center">
              <button class="navbar-toggler collapsed " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-default" aria-controls="navbar-default">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
              <a class="navbar-brand" href="../index.html">
                <img src="../assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">
              </a>
              <div class="d-flex align-items-center lh-1">
                <div class="list-inline me-2">
                  <div class="list-inline-item">
                    <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                      </svg>
                    </a></div>
                  <div class="list-inline-item">
                    <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                      </svg>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        1
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </a>
                  </div>
                </div>
                <!-- Button -->
              </div>
            </div>
          </div>
    
          <div class="col-xxl-2 col-lg-4 d-flex align-items-center justify-content-end ">
            <!-- Button trigger modal -->
            <div class="list-inline  d-lg-block d-none">
            
              <div class="list-inline-item">
    
                <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </a></div>
            </div>
          </div>
        </div>
  
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
          <div class="modal-header border-0">
            <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Sign Up</h5>
    
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="fullName" class="form-label">Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Enter Your Name" required="">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email address" required="">
              </div>
    
              <div class="mb-5">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter Password" required="">
                <small class="form-text">By Signup, you agree to our <a href="#!">Terms of Service</a> &amp; <a href="#!">Privacy Policy</a></small>
              </div>
    
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
          <div class="modal-footer border-0 justify-content-center">
    
            Already have an account? <a href="#">Sign in</a>
          </div>
        </div>
      </div>
    </div>
    