{% extends 'base.html' %}

{% block content %}

<body>
    
    <main>
    <!-- section -->
    <section class="mt-8 mb-lg-14 mb-8">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-lg-12">
            <!-- page header -->
            <div class="card mb-4 bg-light border-0">
              <!-- card body -->
              <div class="card-body p-9">
                <!-- title -->
                <h2 class="mb-0 fs-1">Electronics</h2>
              </div>
            </div>
            <!-- list icon -->
            <div class="d-lg-flex justify-content-between align-items-center">
              <div>
                <p class="mb-3 mb-md-0"> <span class="text-dark">10 </span> Products found </p>
              </div>
              <!-- icon -->
              <div class="d-md-flex justify-content-between align-items-center">

                <div class="d-flex mt-2 mt-lg-0">
                  <div class="me-2 flex-grow-1">
                    <!-- select option -->
                    <select class="form-select" aria-label="Default select example">
                      <option selected="">Show: 50</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select></div>
                  <div>
                    <!-- select option -->
                    <select class="form-select" aria-label="Default select example">
                      <option selected="">Sort by: Featured</option>
                      <option value="Low to High">Price: Low to High</option>
                      <option value="High to Low"> Price: High to Low</option>
                      <option value="Release Date"> Release Date</option>
                      <option value="Avg. Rating"> Avg. Rating</option>
  
                    </select></div>
                </div>
  
              </div>
            </div>
            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3 mt-2">
              
              {% for product in products %}
                {% include 'search-item.html' %}
              {% endfor %}

            </div>
            <!-- row -->
            <div class="row mt-8">
              <div class="col">
                <!-- nav -->
                <nav>
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link  mx-1 rounded-3 " href="#" aria-label="Previous">
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item "><a class="page-link  mx-1 rounded-3 active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">2</a></li>
  
                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">...</a></li>
                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">12</a></li>
                    <li class="page-item">
                      <a class="page-link mx-1 rounded-3 text-body" href="#" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>




          </div>
        </div>
      </div>
    </section>
  
  </main>
  
  

  
  
  </body>

  
{% endblock %}