{% extends 'base.html' %}

{% block content %}

<body>

   
    <main>
    <!-- section -->
    <section class="my-lg-14 my-8">
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
            <!-- img -->
            <img src="../assets/images/svg-graphics/signin-g.svg" alt="" class="img-fluid">
          </div>
          <!-- col -->
          <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
            <div class="mb-lg-9 mb-5">
              <h1 class="mb-1 h2 fw-bold">Sign in to Bidhub</h1>
              <p>Welcome back to Bidhub!</p>
            </div>
  
            <form>
              <div class="row g-3">
                <!-- row -->
  
                <div class="col-12">
                  <!-- input -->
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required="">
                </div>
                <div class="col-12">
                  <!-- input -->
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password" required="">
                </div>
                <div class="d-flex justify-content-between">
                  <!-- form check -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <!-- label --> <label class="form-check-label" for="flexCheckDefault">
                      Remember me
                    </label>
                  </div>
                  <div> <a></a></div>
                </div>
                <!-- btn -->
                <div class="col-12 d-grid"> <button type="submit" class="btn btn-info">Sign In</button>
                </div>
                <!-- link -->
                <div>Don’t have an account? <a href="{{url_for('signup')}}"> Sign Up</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  
  </main>
  
  </body>



  {% endblock %}